---
name: CI

on:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    environment: deployment
    name: Build, publish, release, and announce

    steps:
      - name: Set output value with the script action
        id: dummy
        uses: actions/github-script@v6
        with:
          script: |
            console.log("adding a line")
            core.setOutput('value', 'dummy-value')

      - name: Read output value
        run: echo '${{ steps.dummy.outputs.value }}'
